# Node modules
node_modules/

# Test coverage
coverage/
*.log

# Production builds
build/
public/static/
cache/
deploy.zip
.next/
# Miscellaneous
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*




build/assets.json
build/assets.json
